/* 上傳網頁時調整 */
#MA{
    width: calc(100% - 20px);
    max-width: 1250px;
    margin: auto;
  }


#MA article{
    padding: 60px 0px;
}

  
/* header */

#MA .banner source, #MA .banner img{
width: 100%;
display: block;
}

#MA .company_container{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
    
}

#MA #company{
    background-image: url("./img/MA_background_work.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    
}

#MA .company_container img{
    width: 50%;
}

#MA .company_container p{
    margin-bottom: 8px;
}

#MA .company_container>div{
    padding-right: 40px;
}




@media screen and (max-width:800px){
    #MA .company_container{
        flex-direction: column;
        
    }

    #MA .company_container>div{
        padding: 0px 20px;
    }
    #MA .company_container img{
        width: 100%;
    }
  }


#MA .plan_contianer{
    width: 100%;
    max-width: 800px;  
      
    
}

#MA .plan_time_wrapper{
    background: linear-gradient(to left, #1E335F, #00657C);
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

}

#MA #plan p, #plan h2, #time h2{
    color: white;
}

#MA #plan h2::after, #time h2::after{
    background-color: white;
}

#MA .circle {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
    border-radius: 50%; /* 變成圓形 */
    animation: pulse 1.0s infinite alternate ease-in-out; /* 動畫設定 */

}

/* 定義動畫 */
@keyframes pulse {
    0% {
        transform: scale(1);  /* 原始大小 */
    }
    100% {
        transform: scale(1.1); 
    }
}

#MA .circle p{
    color: #00657C;
    font-size: 20px;
    font-weight: bold;
}

#MA .schedule_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
}
#MA .schedule>p{
    color: white;
    margin: 10px 0px 0px 0px;
    
}
#MA .icon_right{
    width: 20px;
    padding-bottom: 20px;
}

#MA .schedule{
    margin: 0px 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 126px;
}
@media screen and (max-width:800px){
    #MA .schedule_container{
        max-width: 500px;
    }

    #MA .schedule, #MA .icon_right{
        margin-bottom: 30px;
    }

    #MA .schedule:last-of-type {
        margin-right: 40px;
    }
}

@media screen and (max-width:450px){
    #MA .schedule_container{
        max-width: 206px;
    }
}

#QA{
    background-color: #ecf9ff;
    display: flex;
    justify-content: center;  
    padding-left: 20px;
    padding-right: 20px;
}

#QA p{
    margin-bottom: 20px;
}

#QA p:last-child{
    margin-bottom: 0px;
}

/* =======KD豐富生活========= */
#MA .life_card{
    padding: 30px;
    box-shadow: 0px 0px 8px rgba(0, 101, 124, 0.2);
    background:radial-gradient(circle at 50% 50%, #ecf9ff 20%, #ffffff 60%);
    max-width: 300px;
  }


#MA .life_container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0px 0px 20px;
}

#MA .life_card ul{
    padding: 0px 0px 0px 20px;
  }

#MA .no_reverse{
    flex-direction: row; 
}

@media screen and (max-width:900px){
    #MA .life_container{
        flex-direction: column;
        align-items: flex-start;
    }
    #MA .life_card{
        padding: 0 0 0 20px;
        box-shadow: none;
        background: none;
        max-width: 100%; 
    }
    #MA .life_card ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2欄 */
        gap: 0px 40px; /* 欄間距 */
    }
}



@media screen and (max-width:700px){
    #MA .life_card .ul_long{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:500px){
    #MA .life_card ul{
        grid-template-columns: 1fr;
    }
}
#MA .good{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#MA #life{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#MA #CTA{
    background-color: #ecf9ff;
    display: flex;
    justify-content: center;  
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 100px;
    width: calc(100% - 40px);
}

#MA #CTA a{
    background: linear-gradient(to left, #1E335F, #00657C);
    color: white;
    padding: 15px 80px;
    border-radius: 80px;
    font-size: 18px;
    text-decoration: none;
  }

#MA #CTA a:hover{
    background: linear-gradient(to left, #2f529d, #1da1be);
}